.titolo {
    color: darkred;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

.immagine {
    height: 500;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}