.titolo {
    color: rgb(211, 186, 0);
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

.immagine {
    height: 500;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    filter: drop-shadow(-10px 10px 10px rgb(78, 78, 78));
}
